<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>guess a number 1-6</h1>
<form action="/roll-dice/1">
    <button>1</button>
</form>
<form action="/roll-dice/2">
    <button>2</button>
</form>
<form action="/roll-dice/3">
    <button>3</button>
</form>
<form action="/roll-dice/4">
    <button>4</button>
</form>
<form action="/roll-dice/5">
    <button>5</button>
</form>
<form action="/roll-dice/6">
    <button>6</button>
</form>

</body>
</html>